<!DOCTYPE html>
<html>
  <head>
    <title>Submit a form</title>
  </head>
  <body>
  {% extends "template.html" %}
    {% block content %}
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main" class="col-md-8 col-lg-6">
        <form method="post" action="{{ url_for('submitted_form') }}">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" name="name" class="form-control"><br />
              <label for="email" >Email address:</label>
              <input type="email" name="email" class="form-control"><br />
              <label for="site_url">Website URL:</label>
              <input type="url" name="site_url" class="form-control"><br />
              <label for="comments">Comments:</label>
              <textarea name="comments" class="form-control"></textarea><br />
              <input type="submit">
            </div>
        </form>
      </div>
    </div>
  {% endblock %}
  </body>
</html>
